body {
    background-image: url(../img/fondo1.jpg);
    background-repeat: repeat-y;
    background-size: 100%;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 7px #ef8af8;
    background-color: black;
}



    header li {
        list-style: none;
        display: inline-block;
        padding: 0 20px;
        
    }
    
    header a {
        text-decoration: none;
        color: #ffffff;
        transition: all 0.3s ease 0s;
    }
    
    header a:hover {
        color: #f006b5;
    }

hr{
        box-shadow: 0 1px 7px #ef8af8;
        margin-top: 10%;
    }

.Contenedor {
    margin-left: 5%;
    width: 90%;
    height: 90%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "diasyhorarios Locacion"
        "Maps Maps";
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    transition: 800ms;
    
}

.Contenedor .diasyhorarios {
    grid-area: diasyhorarios;
    border-radius: 50%;

}

/* .Contenedor:hover{
    box-shadow: 0 1px 12px #8aebf8;
} */

.Locacion .p {
    grid-area: locacion;


}

.Maps {
    grid-area: Maps;
    width: 95%;
    height: 95%;
    padding-left: 2.5%;
    border-radius: 5%;
}

h2 {
    color: rgb(170, 227, 241);
    text-align: center;
    font-size: 150%;
}

footer {
    background-color: #350036;
    
}

.FooterIcons {
    width: 100%;
    display:flex;
    justify-content: center;
    

}
.socialIcons {
    justify-content: center;
    display: flex;
    

}

.socialIcons a {
    color: #f006b5;
    text-decoration: none;
    padding:10px;
    margin: 10px;
    border-radius: 100%;
    
}

p {
    color: #ffffff;
   
    text-align: center;
}



@media (max-width: 700px) {
    
    nav {font-size: 8px;}
    ul{width: 100%;
    margin:0px;}
    p{ font-size: 14px;}
    h2{font-size: 20px;}
}

