

body {
    background-image: url(../img/fondo1.jpg);
    background-repeat: repeat-y;
    background-size: 100%;

}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background-color: black;
}


    header li {
        list-style: none;
        display: inline-block;
        padding: 0 20px;
    }
    
    header a {
        text-decoration: none;
        color: #ffffff;
        transition: all 0.3s ease 0s;
    }
    
    header a:hover {
        color: #f006b5;
    }




.Nyalogo {
    border-radius: 100%;
    width: 20%;
    margin-left: 40%;
    transition: 600ms;
    margin-top: 5%;

}

.Nyalogo:hover {
    width: 22%;
    transform: translateY(4px);
    transform: translateX(-10px)
}


.Bienvenida {
    color: antiquewhite;
    text-align: center;
}

p {
    color: antiquewhite;
    margin: 0.5rem 0.2rem;
    font-size: 20px;

}

h1 {
    
    font-size: 40px;
    background: #ccc;
    background-clip: border-box;
    background: radial-gradient(#6dacd6, #cd49ee);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

h2 {
    color: rgb(149, 115, 230);
    font-size: 25px;
    font-family: 'ABeeZee', sans-serif;


}


div article {
    width: auto;
    height: auto;
    border-radius: 20%;
    text-align: center;
    text-decoration: none;
    padding-top: 4px;
    transition: 800ms;


}

article:hover {
    transform: scale(1.5);
    box-shadow: 0px 1px 10px rgba(204, 0, 255, 0.2);


}

.botonera2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px
}

.botonera3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.imagengaleria {
    width: 100px;
    height: 80px;
    border-radius: 25%;

}

h4 {
    text-decoration: none;
    color: whitesmoke;

}

hr {
    width: 85%;
}

footer { 
    background-color: rgb(63, 8, 54);

}

.socialIcons {
    width: 100%;
    padding: 70px 30px 20px;

}

@media (max-width:600px){
    
    .Bienvenida {
        font-size: 10%;
    }
    h4{
        font-size: 30%;
    }
 
.imagengaleria{
    width: 25px;
    height: auto;
}
}

@media (max-width: 700px) {
    
    nav {font-size: 8px;}
    ul{width: 100%;
    margin:0px;}
    p{ font-size: 14px;}
    h2{font-size: 20px;}
}
